<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/home.css" />
    <title>Document</title>
  </head>
  <body>
    <!--  -->
    <header class="header">
      <div class="header-container">
        <a
          href="/bookmania"
          class="d-flex align-items-center text-decoration-none logo"
          title="Home | Bookmania"
        >
          <img
            src="/images/homeLogo2.png"
            alt="Site Logo"
            width="50"
            height="50"
          />
          <p class="pt-2 text-capitalize font-monospace fw-bold ms-3 h4">
            bookmania
          </p>
        </a>

        <nav class=""></nav>
      </div>
    </header>
    <!--  -->
    <main class="">
      <div class="container">
        <img
          src="<%= allCategories[0].category_img %>"
          alt=""
          width="1100"
          height="500"
          class="hero_img"
        />
        <div class="container d-flex">
          <% allCategories.map((c,i)=>{ %>
          <button
            data-category-index="<%= i %>"
            class="btn btn-outline-primary category_btns"
          >
            <%= c.category_name %>
          </button>
          <% }) %>
        </div>
        <% allCategories.map((c,i)=>{ %>
        <ul
          class="category_list none"
          data-category-img="<%= c.category_img %>"
        >
          <% allBooks.filter(b=> b.category_id == c.category_id).map((book,j)=>{
          %>
          <li class="book_item">
            <%= book.book_name %>
            <div class="book-box">
              <img src="<%= book.book_img %>" alt="" width="170" height="250" />
            </div>
          </li>
          <% }) %>
        </ul>
        <% }) %>
      </div>
      <p>lorem1000</p>
    </main>

    <!-- ..............  -->
    <script src="/js/home.js"></script>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- ...............  -->
  </body>
</html>
